body {
  font-family: "Inter", sans-serif;
}

.dashboard {
  display: grid;
  grid-template-columns: 40vw 40vw;
  justify-content: center;
  column-gap: 40px;
}

.dashboard p {
  font-weight: 700;
  font-size: 15px;
  margin: 0px;
}
#dark-mode {
  margin-right: 10px;
}
.switchBtn {
  display: flex;
  align-items: center;
  justify-content: end;
}
.container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  justify-content: center;
  gap: 20px;
}

.fb.light,
.twitter.light,
.ig.light,
.yt.light {
  text-align: center;
  background-color: hsl(225, 100%, 98%);
}

.fb {
  border-top: 5px solid hsl(208, 92%, 53%);
}

.twitter {
  border-top: 5px solid hsl(203, 89%, 53%);
}

.ig {
  margin: 0px;
  padding: 10px;
}
.insta {
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  padding-top: 5px;
}

.yt {
  border-top: 5px solid hsl(348, 97%, 39%);
}

.nickname {
  display: flex;
  justify-content: center;
}

.followers {
  text-transform: uppercase;
  letter-spacing: 8px;
}
.followers-number {
  font-weight: 700;
  font-size: 3rem;
  margin: 0px;
}
.ig .nickname {
  margin-top: 5px;
}

.followers-today {
  font-weight: 700;
  color: hsl(163, 72%, 41%);
}
.red {
  color: hsl(356, 69%, 56%);
}

.darkMode {
  background-color: hsl(230, 17%, 14%);
  color: white;
}
.fb.light.darkMode1,
.twitter.light.darkMode1,
.yt.light.darkMode1,
.ig.light.darkMode1 {
  background-color: hsl(228, 28%, 20%);
}

.bottom-section {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  justify-content: center;
  gap: 20px;
}
.social-media {
  display: grid;
  justify-content: center;
  min-height: 120px;
  border-radius: 10px;
}
.social-media.darkMode1 {
  background-color: hsl(228, 28%, 20%);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
  align-items: center;
}

.top > p {
  margin-left: 10px;
}
.top > img {
  height: 20px;
  margin-right: 20px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
  align-items: center;
}

.bottom > p {
  margin-left: 10px;
}
.bottom > h6 {
  font-size: 2rem;
  margin: 0px;
  margin-left: 10px;
}
